*{
	margin:0;
	padding:0;
}
body{
	background:green;
	border: 5px solid #328E00;
}

.cabecera{
	border: 4px solid #328E00;
	text-align:center;
	color:green;
	background-color: #fff;
	background-size: 100% 100%;
	background-position: center;
	box-shadow: 10px 10px 10px #fff;
	border-radius: 2%;
} 
.cabecera h1{
	font-size:6.5em;
	color:green;
	text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000;
}
.cabecera h2{
	font-size:5em;
	color:green;
	text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000;
}
.cuerpo{
	color:#fff;
	border: 2px solid #328E00;
	box-shadow: 10px 10px 10px #fff;
}
.cuerpo h5{
	color:#fff;
	font-size: 1.5em;
}
.cuerpo h3{
	margin: 2% 0em 0em 9em ;
	font-size: 3em;
	text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000;
}
.cuerpo p{
	text-align: center;
    margin: 0px auto;
	width:70%;
	font-weight: 600;
	text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
	overflow: auto;
	font-size: 1.2em;
}
.cuerpo img{
	border: 5px solid black;
    display: block;
    margin: 5% 0em 0em 27em;
}

}
.propaganda{
	margin-left:1%;
	margin-top:1%;
}
.pie p{
	text-align:center;
	margin-right: 1em;
}
.pie h4{
	text-align:center;
	margin-right: 10em;

}
.pie{
	border: 3px solid #328E00;
	box-shadow: 10px 10px 10px #fff;
}
.propaganda{
	float:left;
}
.cgt{
	float: right;
}
.imagen{
	margin-top:5%;
	margin-left:5%;
}
.corp{
	color:#fff;
	border: 2px solid #328E00;
	margin: 0;
	padding: 0;
}
.corp h3{
	text-align:center;
	font-size: 3em;
	text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000;
}
.corpus{
	color:#fff;
	border: 2px solid #328E00;
}
.corpus h3{
	margin: 2% 0em 0em 10em;
	text-decoration:underline;
	font-size: 30px;
	text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
}
.corpus img{
	margin: 2% 0em 0em 19em;
	float: left;
	border: 5px solid black;
}
.corpus p{
	margin: 20px auto;
	width:70%;
	font-weight: 600;
	text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
	overflow: auto;
}
.noticia{
	border: 3px solid #328E00;
}
.noticia h4{
	text-align: center;
	font-size: 20px;
	text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
}
.navegacion{
	float: right;
	font-size: 20px;
	margin-right: 5%;
	text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
}
#container{
	width:30em;
  	height: auto;
}
#container img{
	width:100%;
  	height: auto;
}
header{
	width:100%;
}
header nav{
	width:90%;
	max-width:1000px;
	margin:20px auto;
	background:green;
}
.menu_bar{
	display:none;
}
header nav ul{
	overflow:hidden;
	list-style:none;
}
header nav ul li{
	float:left;
}
header nav ul li a{
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
}
header nav ul li span{
	margin-right:10px;
}
header nav ul li a:hover{
	background:#00FF00;
}
section{
	padding: 20px;
}
.blocke ul li{
	font-weight:bold;
	font-size:1.5em;
	color: white;
	text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
}
@media screen and (max-width:800px){
	header nav{
		width:80%;
		height: 100%;
		left:-100%;
		margin:0;
		position: fixed;
	}
	header nav ul li {
		display:block;
		float:none;
		border-bottom: 1px solid rgba(255,255,255, .3);
	}
	.menu_bar {
		display: block;
		width: 100%;
		background: #fff;
	}
	.menu_bar .bt-menu{
		display: block;
		padding: 20px;
		background: green;
		color:#fff;
		text-decoration: none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	.menu_bar span{
		float:right;
		font-size: 40px;
	}
	.cabecera h1{
	font-size:6em;
	color:green;
	text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000;
	}

	.cuerpo img{
	border: 5px solid black;
	margin:0;
	}
	.cuerpo h3{
	margin: 0;
	font-size: 3em;
	text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000;
	}
}

















.btn{
	display: inline-block;
	height: 1.5em;
	background-color: rgba(0,100,0, .6);
	text-decoration: none;
	text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000;
	color: #fff;
	font-size: 1.3em;
	font-weight: bold;
	width: 10%;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	padding-top: 0.3%;
}
.btn:hover{
	background-color: rgba(0,255,0, .9);
}
@media screen and (max-width:400px){
	.cabecera h1{
		font-size: 3em;
	}
	.cabecera h2{
		font-size: 2.5em;
	}
}
.error{
	padding: 2em;
	font-size: 1em;
	color: #fff;
	background-color:rgba(100,0,70, 0.8);
}